* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}

/* Employee form */
label,
input,
select,
button {
  min-width: 150px;
  margin: 10px 10px 10px 0;
}

.title-header {
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: underline;
}

/* Employee form - END */
